/* Nav etc. */
* {
  padding: 0;
  margin: 0;
}
html {
height: 100%;
}


.tina {
  display: flex;
  height: 97vh;
  }

  .logo  img {
    width: 60%; 
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
  }
  
  nav {
    display: flex;
    flex-direction: column;
    flex: 2;
    justify-content: space-around;
    background-color: rgb(253, 249, 243);
    height:100%;
  }
  
  .navi,
  .infoicon {
    font-size: 230%;
    text-align: center;
  }
  
  .navi {
    margin-top: 20%;
  }
  
  ul {
    list-style: none;
  }
  
  .navi li {
    padding: 10px 0;
  }
  
  .infoicon {
    margin-top: auto;
    padding: 10px 0;
  }


  
  .notes {
    background-color:rgb(250, 247, 192); 
    border-left: 1px solid black  ;
    border-right: 1px solid black;
    flex: 5;
    flex-direction: column;  
    overflow-y: scroll;
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
  }

  .notes h3 {
    margin-bottom: 20%;
    font-weight: 800;
    font-family: 'Sacramento', cursive;
    font-size: 30px;
  }

  .notes a {
    margin: 0 2% 2% 2%;
    border: 2px solid white;
    width: 85%;
    min-height: fit-content;
    background: rgb(248, 243, 148);
    text-align: center;
    overflow: auto;
    padding: 8px;
    text-transform: capitalize;
  }
  .notes a:hover {
    cursor: pointer;
    font-style: italic;
    font-weight: 900;
    background: whitesmoke;
  }

  .notes a:active {
    color: white;
  }

  .notes p:nth-child(1) {
    color: black;
    font-weight: 700;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 10px;
  }
  
  .notes p:nth-child(2) {
    color: rgb(83, 83, 255);
    font-weight: 800;
    font-size: 22px;
    font-family: 'Satisfy', cursive;
    text-decoration:none;
  }


 

  #moveBtn {
    justify-content: left;
    display: flex;
  }

  #submit {
    padding: 20px;
    flex: 5;
    
  }
  #load {
    padding: 20px;
    flex:1;
  }

/* EDITOR CSS */

.quill-wrap {
display: flex;
flex:8;
flex-direction: column;
width: 100%;
height: 97vh;

}
.info {
text-align:center;
margin-top:20px;
}
.quill-wrap .ql-active {
border: 1px solid #ccc !important;
border-radius:4px;
}
.quill-wrap button, .quill-wrap .ql-picker {
margin-right:2px
}

/*SCROLLBAR*/

#notes::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}

#notes::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#notes::-webkit-scrollbar-thumb
{
  background-color: #c5c5b0;
  border-radius: 3px;
}

#notes a::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}

#notes a::-webkit-scrollbar
{
	width: 10px;
  background-color: #F5F5F5; 
}


#notes a::-webkit-scrollbar-thumb
{
  background-color: rgb(122,153,217);
  border-radius: 3px;
}


/*PRINT CSS*/



@media print {
body * {
  visibility: hidden;
}
#editor * {
  visibility: visible;
}
#editor {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
}