
.tina {
    display: flex;
    height: 100vh;
    }
    
    
    .logo  img {
    width: 60%; 
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    }
    
    nav {
    display: flex;
    flex-direction: column;
    flex: 2;
    justify-content: space-around;
    background-color: rgb(253, 249, 243);
    height:100%;
    flex-shrink: 1;
    }
    
    .navi,
    .infoicon {
    font-size: 230%;
    text-align: center;
    }
    
    .navi {
    margin-top: 20%;
    }
    
    ul {
    list-style: none;
    }
    
    .navi li {
    padding: 10px 0;
    }
    
    .infoicon {
    margin-top: auto;
    padding: 10px 0;
    }
    
    
    