


.logo  img {
width: 60%; 
margin-top: 5%;
margin-left: 20%;
margin-right: 20%;
}

nav {
display: flex;
flex-direction: column;
flex: 1;
justify-content: space-around;
background-color: rgb(253, 249, 243);
height:100vh;
}

.navi,
.infoicon {
font-size: 230%;
text-align: center;
}

.navi {
margin-top: 20%;
}

ul {
list-style: none;
}

.navi li {
padding: 10px 0;
}

.infoicon {
margin-top: auto;
padding: 10px 0;
}

.fa-star {
    color: rgb(175, 175, 175);
    cursor: pointer;
}


